.footerContainer {
  position: absolute;
  width: 100%;
  z-index: 999;

  text-align: center;
  padding: 3px;
  background-color: #1f1f1f;
  color: white;

  .author {
    margin-top: 20px;
    margin-bottom: 20px;

    a {
      color: skyblue;
    }
  }
}
