@import "../../styles/variables.module.scss";

.FilmCard_item {
		max-width: 100%;
		height: auto;
  display: list-item;
  text-align: -webkit-match-parent;
  transition: transform 0.3s;
  transition-property: transform;
  transition-duration: 0.3s;
  transition-timing-function: ease;
  transition-delay: 0s;

	list-style: none;

	@media (min-width: 1025px) {
        transition: transform 0.3s;

        &:hover {
            transform: translateY(-4px);
        }
    }
	
  .FilmCard_top {
			position: relative;
			disaply: block;
			margin-bottom: 20px;

			@media (max-width: 400px) {
        margin-bottom: 15px;
      }
												 
			.filmImageContainer {
					position: relative;
					
      .filmImage {
        border-radius: 8px;
      }
    }

    span {
    }
  }

  .FilmCard_title {
    display: inline-block;
    font-weight: 500;
    color: $color-light-dark;
    line-height: 24px;
    text-decoration: none;
  }

	.FilmCard_secondTitle {
    font-size: 14px;
    color: $color-gray;
    line-height: 24px;
    text-decoration: none;
    margin-bottom: 10px;
	}

  .FilmCard_info {
  }
}

.FilmCard_item:hover {
  margin-bottom: 10px;
}
