.main {
  // margin-left: 160px; /* Same as the width of the sidebar */
  padding: 0px 10px;

  div {
    .NewMovies_top {
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 100%;
      margin-bottom: 35px;
    }

    ul {
      display: flex;
      flex-wrap: wrap;

      li {
        list-style-type: none;
      }
    }
  }
}
