@import "../../styles/variables.module.scss";

.header {
  overflow: hidden;
  background-color: #1f1f1f;
  padding: 20px 10px;

  //padding-left: 30vh;
  //padding-right: 30vh;
  height: 72px;

  color: white;

  .logo {
    font-size: 25px;
    font-weight: 700;

    .wayText {
      color: $color-primary;
    }
  }

  a {
    text-align: center;
    padding: 8px;
    text-decoration: none;
    font-size: 18px;
    color: white;
  }

  a.active {
    background-color: dodgerblue;
    color: white;
  }
}
.headerRight {
  float: right;
}

@media screen and (max-width: $media-tablet) {
  .header {
    padding: 0 10vh 0 10vh;
  }
}

@media screen and (max-width: $media-mobile) {
  .header {
    padding: 0 8vh 0 8vh;
  }
}
