@import "../../styles/variables.module.scss";
.header {
  overflow: hidden;
  background-color: #1f1f1f;
  padding: 20px 10px;

  padding-left: 30vh;
  padding-right: 30vh;
  height: 72px;

  color: white;

  .logo {
    font-size: 25px;
    font-weight: 700;

    .wayText {
      color: $color-primary;
    }
  }

  a {
    text-align: center;
    padding: 8px;
    text-decoration: none;
    font-size: 18px;
    color: white;
  }

  a.active {
    background-color: dodgerblue;
    color: white;
  }
}
.headerRight {
  float: right;
}

@media screen and (max-width: 900px) {
  .header {
    padding-left: 20vh;
    padding-right: 20vh;
  }
}

@media screen and (max-width: 835px) {
  .header {
    padding-left: 20vh;
    padding-right: 20vh;
  }
}

@media screen and (max-width: 670px) {
  .header {
    padding-left: 10vh;
    padding-right: 10vh;
  }
}

@media screen and (max-width: 510px) {
  .header {
    padding-left: 2vh;
    padding-right: 2vh;
  }
}

@media screen and (max-width: 450px) {
  .header {
    padding-left: 0vh;
    padding-right: 0vh;

    a.logo {
      display: none;
    }
  }
}
