.header {
  overflow: hidden;
  background-color: #1f1f1f;
  padding: 20px 10px;

  padding-left: 30vh;
  padding-right: 30vh;

  color: white;

  .logo {
    font-size: 25px;
    font-weight: 700;
  }

  a {
    float: left;
    color: black;
    text-align: center;
    padding: 8px;
    text-decoration: none;
    font-size: 18px;
    color: white;
    line-height: 25px;
    border-radius: 4px;

		input {
				background-color: #3f3f3f;
				height: 40px;
				border-radius: 8px;
				border: none;
				padding: 20px;
		}
  }

  a.active {
    background-color: dodgerblue;
    color: white;
  }
}
.header .headerRight {
  float: right;
}

@media screen and (max-width: 900px) {
  .header {
    padding-left: 20vh;
    padding-right: 20vh;
  }
}

@media screen and (max-width: 835px) {
  .header {
    padding-left: 20vh;
    padding-right: 20vh;
  }
}

@media screen and (max-width: 670px) {
  .header {
    padding-left: 10vh;
    padding-right: 10vh;
  }
}

@media screen and (max-width: 510px) {
  .header {
    padding-left: 2vh;
    padding-right: 2vh;
  }
}

@media screen and (max-width: 450px) {
  .header {
    padding-left: 0vh;
    padding-right: 0vh;

    a.logo {
      display: none;
    }
  }
}
