@import "../../../../../styles/variables.module.scss";

.main {
  padding-bottom: 10px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;

  @media (max-width: 576px) {
    padding-bottom: 60px;
  }

  .NewFilms_container {
    margin: 0 auto;
    max-width: $container-width;

    .listFilmsContainer {
      display: flex;

      justify-content: center;
    }

    @media screen and (max-width: $content-width) {
      .NewFilms_container {
        padding: 0 20vh 0 20vh;
      }
    }

    @media screen and (max-width: $media-tablet) {
      .NewFilms_container {
        padding: 0 10vh 0 10vh;
      }
    }

    @media screen and (max-width: $media-mobile) {
      .NewFilms_container {
        padding: 0 8vh 0 8vh;
      }
    }

    ul {
      display: flex;
      flex-wrap: wrap;
      gap: 15px;

      li {
        list-style-type: none;
      }
    }
  }
}
