@import "../../../styles/variables.module.scss";

.ButtonBase_btn {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    white-space: nowrap;
    color: $color-white;
    font-weight: 500;
    padding: 13px 15px;
    font-size: 16px;
    line-height: 16px;
    border: 1px solid transparent;
    overflow: hidden;
    border-radius: 5px;
    background-color: $color-primary;
    transition: color .3s ease,background-color .3s ease,border-color .3s ease;
}

.ButtonBase_btn:hover {
    background-color: $color-dark-primary;
}