@import "../../styles/variables.module.scss";

.FilmCard_item {
  display: list-item;
  text-align: -webkit-match-parent;
  transition: transform 0.3s;
  transition-property: transform;
  transition-duration: 0.3s;
  transition-timing-function: ease;
  transition-delay: 0s;

  .FilmCard_top {
    position: relative;

    div {
      .filmImage {
        width: 22vh;
        border-radius: 8px;

        margin-bottom: 20px;
      }
    }

    span {
    }
  }

  .FilmCard_title {
    display: inline-block;
    font-weight: 500;
    font-size: 18px;
    color: $color-light-dark;
    line-height: 24px;
    text-decoration: none;
    margin-bottom: 10px;
  }

  .FilmCard_info {
  }
}

.FilmCard_item:hover {
  margin-bottom: 10px;
}
