$color_1: var(--white);
$color_2: var(--citrine);
$color_3: var(--raisin-black);
$color_4: var(--gainsboro);
$color_5: var(--xiketic);
$color_6: var(--rich-black-fogra-29);
$color_7: var(--gray-x);
$color_8: var(--light-gray);
$color_9: var(--eerie-black);
$color_10: var(--black);
$font-family_1: var(--ff-poppins);
$border-color_1: var(--white);
$border-color_2: var(--citrine);

$content-width: 1230px;
$container-offset: 15px;
$container-width: calc(#{$content-width} + #{$container-offset} * 2);

$primary-color: #64ff00;
$foreground-color: #5b27c9;

//$container-width: calc(var(--content-width) + (var(--container-offset) * 2));

$color-white: #f4f4f4;
$color-black: #000;
$color-gray: gray;
$color-red: red;
$color-green: #00a340;
$color-dark: #141414;
$color-light-dark: #1f1f1f;
$color-primary: #6754c7;
$color-dark-primary: #494077;

$watch-film-color: #f50;
$watch-film-border: 30px;

$media-tablet: 770px;
$media-mobile: 769px;

$offset: 20px;

:export {
  primaryColor: $primary-color;
  foregroundColor: $foreground-color;

  contentWidth: $content-width;
  containerOffset: $container-offset;
  //containerWidth: $container-width;

  colorWhite: $color-white;
  colorBlack: $color-black;
  colorRed: $color-red;
  colorGreen: $color-green;
  colorDark: $color-dark;
  colorLightDark: $color-light-dark;
  colorGray: $color-gray;
  mediaTablet: $media-tablet;
  mediaMobile: $media-mobile;
}
