@import "../../styles/variables.module.scss";

.form {
  position: relative;

  @media (max-width: 768px) {
    pointer-events: none;
    z-index: 3;
    transition: opacity 0.3s;

    &.visible {
      opacity: 1;
      pointer-events: all;
    }
  }
}

.search {
  width: 400px;

  @media (max-width: 1280px) {
    width: 370px;
  }

  @media (max-width: 768px) {
    width: 200px;
    height: inherit;
  }

  input {
    height: 20px;
    width: 300px;
    padding: 14px;
    border-radius: 4px;
    background-color: #333;
    color: $color-white;
    border: none;

    @media (max-width: 512px) {
      width: calc(100% - 100px);

      margin-left: 50px;
      padding: 0px;
    }
  }
}

.searchBtn {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 34px;
  height: 34px;
  top: 50%;
  right: 10px;
  float: right;
  transform: translateY(-50%);
  // color: $color-white;

  @media (max-width: 768px) {
    // display: none;
  }

  svg {
    width: 17px;
    height: 17px;
    stroke: currentColor;
  }
}

.closeBtn {
  position: absolute;
  top: 50%;
  right: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 24px;
  height: 24px;
  transform: translateY(-50%);
  color: $color-white;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s, visibility 0.3s;

  &.active {
    opacity: 1;
    visibility: visible;
  }

  @media (max-width: 768px) {
    right: 10px;
    display: none;
  }

  svg {
    width: 17px;
    height: 17px;
    stroke: currentColor;
  }
}

.openSearch {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  margin-right: -8px;
  flex-shrink: 0;
  order: 1;

  @media (min-width: 769px) {
    display: none;
  }

  svg {
    width: 16px;
    height: 16px;
    stroke: $color-white;
  }
}
